*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 0px;
    font-size: xxx-large;
    font-weight: 900;
    color: rgb(14, 117, 117);
}
body{
    background-color: rgba(47, 81, 165, 0.1);
}
.input{
    background-color: rgba(198, 214, 214, 0.7);
    padding: 10px;
    max-width: 400px;
    /* margin-top: 50px; */
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.5) inset;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
button{
    padding: 10px;
    font-size: x-large;
    border: none;
    box-shadow: 1px 5px 10px rgba(0,0,0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgba(0,0,0, 0.1);
    color: white;
}
.clear{
    background-color: #ff4136;
    color: white;
}
.operater{
    background-color: #8d493a;
    color: white;
}
.equal{
    background-color: rgb(213, 203, 187);
    grid-column: span 4;
}
